<!DOCTYPE html>
<html>
  
  <head>
    
  </head>
  <body>
    <h1>Make your form here</h1>
    <form action="/pirates" method="post">
      <div name='pirate'>
        <h3>Pirate Info</h3>
        <label for='pirate[name]'>Pirate Name: </label>
        <input type='text' name='pirate[name]'><br><br>
        <label for='pirate[weight]'>Pirate Weight: </label>
        <input type='text' name='pirate[weight]'><br><br>
        <label for='pirate[height]'>Pirate Height: </label>
        <input type='text' name='pirate[height]'><br><br>
      </div>
      
      <% 
        x = 0 
        while x < 2 do
        x += 1
      %>
      <div name='ship'>
        <h3><%="Ship #{x} Details"%></h3>
        <label for='pirate[ships][][name]'>Ship Name: </label>
        <input type='text' name='pirate[ships][][name]' id='ship_name_1'><br><br>
        <label for='pirate[ships][][type]'>Type: </label>
        <input type='text' name='pirate[ships][][type]'><br><br>
        <label for='pirate[ships][][booty]'>Booty: </label>
        <input type='text' name='pirate[ships][][booty]'><br><br>
      </div>
      <% 
        end 
      %>
      
      <input type='submit' value='submit'>
    </form>
  </body>
</html>
