<h1>Pirate Info</h1>
<div class='pirate'>
  <h5>Name: <%=@pirate.name%><h5>
  <p>Weight: <%=@pirate.weight%></p>
  <p>Height: <%=@pirate.height%></p>
</div>

<h2>Ship Info</h2>

<% 
  ship_count = 0
  @ships.each do |ship|
    ship_count += 1
%>
  <p>Name <%=ship.name%></p>

<% end %>

